* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #d38de8;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
 
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.5);
    font-size: 8vmin;
    color: rgb(160, 6, 199);
    background-color: blanchedalmond ;

}
#reset {
    padding: 1rem;
    background-color: rgb(160, 6, 199);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    text-transform: initial;


}
#new-btn {
    padding: 0.5rem;
    background-color: rgb(160, 6, 199);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    text-transform: initial;

}

.msg-container {
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide {
    display: none;
}